@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
  max-width: 420px;
  background-color: white;
  height: fit-content;
  border-radius: 1px;
  border: 1px solid #dfe1e6;
  box-shadow: 2px 3px;
  overflow-x: hidden;
}

.header {
  margin: 2% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-hamburger {
  align-items: flex-end;
  justify-content: center;
  margin-right: 120px;
}

#home-page {
  background-image: url("images/background.png");
  padding: 0%;
  margin: 0%;
  background-repeat: no-repeat;
  background-position: 0% 90%;
  border-bottom-left-radius: 75px;
  padding-top: 3%;
  background-color: #fff;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  color: #6070ff;
}

#background {
  position: relative;
}

.nav-item {
  text-decoration: none;
  color: #344563;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#ham-icon {
  width: 16px;
  height: 5px;
  background-color: #6070ff;
  margin: 6px 0;
}

.ham-icon {
  color: #6070ff;
  font-size: 15px;
  font-weight: 1000;
}

#main {
  margin-right: 2%;
  padding-top: 18%;
  display: flex;
  flex-direction: column;
  padding-bottom: 23%;
  font-family: "Inter", sans-serif;
}

#socials {
  padding-left: 6%;
  margin-top: 3%;
  display: flex;
  align-items: center;
}

.social-media-list {
  list-style: none;
  padding-left: 0%;
  width: 100%;
  margin-top: 1%;
  align-items: center;
}

.social-media-list li {
  display: inline-block;
  padding-right: 4.5%;
  justify-content: center;
}

.icons {
  padding-right: 8%;
  left: 28.89%;
  right: 70.13%;
  top: 12.53%;
  bottom: 87.08%;
}

.connect {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10%;
  margin-top: 2%;
  color: #7f8cff;
}

.main-heading {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 48px;
  line-height: 60px;
  align-items: center;
  color: #091e42;
  display: flex;
  letter-spacing: 0.37px;
}

.main-paragraph {
  font-family: 'Poppins'sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  flex: none;
  width: 420px;
  height: 7%;
  padding-left: 2%;
  letter-spacing: 0.37px;
}

@media screen and (min-device-width: 375px)and (max-device-width: 768px) {
  nav .nav-item {
    margin-right: 50px;
  }
}
