body {
  max-width: 375px;
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: #e5e5e5;
}

.header {
  margin: 3% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home-page {
  background-image: url("images/background.png");
  padding: 0%;
  margin: 0%;
  background-repeat: no-repeat;
  background-position: 0% 90%;
  border-bottom-left-radius: 75px;
  padding-top: 3%;
  background-color: #fff;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

#background {
  position: relative;
}

.nav-item {
  text-decoration: none;
  color: #344563;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#ham-icon {
  width: 16px;
  height: 5px;
  background-color: #6070ff;
  margin: 6px 0;
}

.ham-icon {
  color: #6070ff;
  font-size: 15px;
  font-weight: 1000;
}

#main {
  margin-right: 2%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  padding-bottom: 22%;
}

#socials {
  padding-left: 6%;
  margin-top: 3%;
  display: flex;
  align-items: center;
}

.social-media-list {
  list-style: none;
  padding-left: 0%;
  width: 100%;
  margin-top: 1%;
  align-items: center;
}

.social-media-list li {
  display: inline-block;
  padding-right: 4.5%;
  justify-content: center;
}

.icons {
  padding-right: 8%;
}

@media screen and (min-width: 408px) {
  nav .nav-item {
    margin-right: 50px;
  }
}
